<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Websocket</title>
</head>
<body>
    <h1>Hello World</h1>


    {% comment %} js file {% endcomment %}
    <script>
        var ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/');

        ws.onopen = function(){
            console.log("Websocket connection Started..")
            ws.send("Hi,I am Asif Mahmud,a client!")
        }
        ws.onmessage = function(event){
            console.log("Message Recieved from Server...",event)
        }
        ws.onerror = function(event){
            console.log("Websocket error occured...",event)
        }
        ws.onclose = function(event){
            console.log("Websocket close...",event)
        }
    </script>
</body>
</html>